hotels.csv
osrm_data_train.csv
osrm_data_train.zip
train.csv
Project5_train_data.zip
Project5_test_data.zip
Project5_test_data.csv
Project5_osrm_data_test.zip
Project5_osrm_data_test.csv
SF_DataScience/Блок 3. Разведывательный анализ данных/EDA-6. Проектирование экспериментов/_assets_courseware_v1_7c0f2ada65f2515b819eb2bce94bd1bb_asset-v1_SkillFactory+DST-3.0+28FEB2021+type@asset+block_noshowappointments_cometml.ipynb
archive.zip
archive/
SF_DataScience_projects/PROJECT-6. Задача кластеризации. Реальный кейс от компании IntelliVision/data/
SF_DataScience/Блок 7. ML в бизнесе/3. MATH&ML-14. Рекомендательные системы. Часть I/data/dst-3.0_mathml_14_5_rating.csv
*venv/
Дипломный проект. Реальные кейсы компаний «Девхаб» и «Лаборатория исследований гражданского общества»/Анализ схем севооборота/data/*
